body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width:70%;
    margin-left:15%;
    margin-bottom:50px;
}

.root{
    width:100px;
    padding:5px 0 5px 0;
    margin-top:50px;
    text-align: center;
    background-color:orange;
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}


.individualFactory{
    width:150px;
    overflow-wrap: break-word;
    margin:10px 0 0 50px;
    text-align: center;
}


.factoryTitle{
    background-color:lightblue;
    cursor: pointer;
    padding:5px;
}


.factoryTitle:hover{
    border:2px solid rgba(9,25,79,1)
}


.randomNums{
    width:100px;
    margin-left:50px;
    text-align: right;
    padding:5px;
    list-style: none;
    border-bottom:1px solid rgba(163,158,158,.8);
    border-left:1px solid rgba(163,158,158,.8);
}


.createFactoryBtn{
    width:20%;
    margin:50px 0 0 40%;
    padding:5px;
    background-color:lemonchiffon;
    text-align: center;
    margin-bottom:10px;
    cursor: pointer;
    border:2px solid rgba(245,224,163,1);
}
.createFactoryBtn:active{
    border:none;  
}



/* modal styling and inserted forms*/
.modal{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(163,158,158,.6);
    display:none;
}


.modalContent{
    background-color:rgba(230,230,230,1);
    padding:10px;
    width:30%;
    margin:10% 0 0 35%;
    text-align: center;
}


#close{
    float:right;
    margin:1px;
    padding:2px 4px 2px 4px;
}


#close:hover{
    cursor: pointer;
    background-color: gray;
    color:white;

}


form input,select{
    margin:5px 0 15px 0;
}


#editFactoryBtn , #submitChanges{
    width:40%; 
    padding:5px;
    text-align: center;
    margin:0 0 10px 1%; 
    cursor: pointer;
    border:2px solid rgba(54,140,191,1); 
}


#deleteBtn{
    width:40%;
    padding:5px;
    text-align: center;
    margin:0 0 10px 5px;
    cursor: pointer;
    border:1px solid rgba(209,64,53,1); 
}


.numRangeText{
    position: absolute;
    margin-left:210px;
    overflow-wrap: break-word;
    background-color:gray;
    color:white;
    padding:5px;
    font-size: 12px;
    border-radius:20%;
    text-align: center;
}